@import "./functions";
header{
    height: 90px;
    background-color:orangered;
    .container{
        width: 85%;
        float: right;
        height: 100%;
        @include flexing(space-between,center);
    }
    .logo{
        color: white;
        font-size: large;
    }
    nav a{
        text-decoration: none;
        color: white;
        font-size: larger;
        margin-right: 50px;
    }
    button{
        width: 25%;
        height: 35%;
        background-color: peru;
    }
}